@rulerHalfHeight:10px;
@rulerQuarterHeight:6px;
@rulerHeight:20px;

.vendor(@prop,@value){
    -webkit-@{prop}:@value;
    -moz-@{prop}:   @value;
        @{prop}:    @value;
}

.flex(@orient:horizontal){
    display:-webkit-box;
    display:-moz-box;
    display:box;

    .vendor(box-orient,@orient)
}

.ruler{
	&.horizontal{
		margin:0px auto;
		
		position:relative;
		
		.margin{
			height:@rulerHeight;
			background-color:black;
			opacity:0.4;
			
			.mover{
				position:relative;
				width:4px;
				height:100%;
				cursor:ew-resize;
			}
			
			&.right .mover{
				right: 2px;
			}
			
			&.left .mover{
				float:right;
				right: -2px;
			}
		}
		
		.marker{
			height:8px;
			width:8px;
			svg{
				width:100%!important;
				height:100%!important;
				display:block!important;
				position:relative;
				top:12px;
			}
		}
		
		.indent{
			.marker();
			
			&.left svg{
				left:-4px;
			}
			
			&.right svg{
				right:-4px;
			}			
		}
		
		.first-line{
			.marker();
			
			&.left svg{
				top:0px;
				left:-4px;
			}
		}
		
		
		
		>div{
			position:absolute;
		}
		
		>svg{
			text{
				font-size: 10px;
			}
		}
	}
	

}