@rulerHalfHeight:10px;
@rulerQuarterHeight:6px;
@rulerHeight:20px;


.vendor(@prop,@value){
    -webkit-@{prop}:@value;
    -moz-@{prop}:   @value;
        @{prop}:    @value;
}

.flex(@orient:horizontal){
    display:-webkit-box;
    display:-moz-box;
    display:box;

    .vendor(box-orient,@orient)
}

.ruler{
	&.vertical{
		position:relative;
		.margin{
			width:@rulerHeight;
			background-color:black;
			opacity:0.4;

			.mover{
				position:relative;
				height:4px;
				width:100%;
				cursor:ns-resize;
			}

			&.top{
				display:flex;
				flex-flow:wrap-reverse;
				.mover{
					bottom: -2px;
				}
			}
		}
	}

	&.horizontal{
		margin: 0px auto 0px auto;
		.margin{
			height:@rulerHeight;
			background-color:black;
			opacity:0.4;

			.mover{
				position:relative;
				width:4px;
				height:100%;
				cursor:ew-resize;
			}

			&.right .mover{
				right: 2px;
			}

			&.left .mover{
				float:right;
				right: -2px;
			}
		}

		.marker{
			height:8px;
			width:8px;
			svg{
				width:100%!important;
				height:100%!important;
				display:block!important;
				position:relative;
				top:12px;
			}
		}

		.indent{
			.marker();

			&.left svg{
				left:-4px;
			}

			&.right svg{
				right:-4px;
			}
		}

		.first-line{
			.marker();

			&.left svg{
				top:0px;
				left:-4px;
			}
		}
	}

	>svg{
		text{
			font-size: 10px;
		}
	}
}

details{
	margin-bottom:4px;

	>summary{
		outline:none;
		border-bottom: 1px solid lightgray;
		user-select: none;
	}

	>div{
		padding:5px;
		min-height: 100px;
		font-size: smaller;
		margin-top:5px;
		margin-bottom: 5px;
	}
}